{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
<script src="/static/sketch.js"></script>
{% endblock head %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="tim-typo">
        <h1> Welcome to the parking! </h1>
      </div>
      <div class="tim-typo">
        <blockquote class="blockquote">
          <p>
            Manage your profile or monitor available cameras.
          </p>
          <small> Check navigation bar to continue.</small>
        </blockquote>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
